<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.doubledatabases.dao.primary2.User2Mapper">
    <select id="queryUser2" resultType="com.example.doubledatabases.model.User2DTO">
      select ename,job from emp
    </select>

</mapper>